* {margin:0; padding: 0; }
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(114, 199, 238);
}
main {
    display: flex;
    flex-direction: column;

}
.img {
    width: 60vw;
    margin: 3vh auto; 
}
img { width: 100%}

h1 {
    text-align: center;
}
.butttons {
    justify-self: flex-end;
    align-self: center;
}
button {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%; 
    font-size: 30px;
background-color: rgb(14, 168, 246);
}
input{
    width: 100px;
    height: 70px;
    font-size: 30px;
}

footer {
    position: absolute;
    bottom: 0; 
    left: 0; 
    right:0; 
    text-align: center;
}