.table {
    display: flex;
    flex-wrap:wrap;
}

div.square {
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 20px;;
}

button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    background-color: goldenrod;
    border: 3px solid black;
    border-radius: 50%;
}